@page
@model IndexModel
@{
    ViewData["Title"] = "Hello! :D";//This changes the tab par text
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
