@page
@model IndexModel
@{
    ViewData["Title"] = "TOP OF THE MORNIN";//This is to change the text on the tab
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
